# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Karen Etheridge <ether@cpan.org> Karen Etheridge <karen@etheridge.ca>
Tomas Doran <bobtfish@bobtfish.net> Tomas Doran (t0m <t0m@state51.co.uk>
Tomas Doran <bobtfish@bobtfish.net> Tomas Doran (t0m) <t0m@state51.co.uk>
Tomas Doran <bobtfish@bobtfish.net> t0m <bobtfish@bobtfish.net>
Jose Luis Martinez <jlmartinez@capside.com> pplu <pplusdomain@gmail.com>
Devin Austin <dhoss@cpan.org> Devin Austin <devin@devin-laptop.(none)>
Shlomi Fish <shlomif@cpan.org> Shlomi Fish <shlomif@iglu.org.il>
